button._pin_bottom_button {
    fill: #eee !important;
}

button._pin_bottom_button._pin_bottom_button_on {
    fill: #ff8983 !important;
}

div#movie_player:not(.ytp-hide-controls) div.ytp-chrome-bottom._pin_bottom_button_on {
    display: block !important;
    opacity: 1 !important;
}

div#movie_player:not(.ytp-hide-controls) div.ytp-gradient-bottom._pin_bottom_button_on {
    display: block !important;
    opacity: 1 !important;
}

div#movie_player:not(.ytp-hide-controls) div.ytp-gradient-bottom._pin_bottom_button_on._pin_bottom_button_space {
    display: none !important;
    opacity: 0 !important;
}

div#movie_player:not(.ytp-hide-controls) div.ytp-heat-map-container._pin_bottom_button_on {
    display: block !important;
    opacity: 1 !important;
}

div.ytp-overlays-container._pin_bottom_button_on._pin_bottom_hide_overlays {
    display: none !important;
}