div.ytp-chrome-bottom._pin_bottom {
    opacity: 1 !important;
}

button._pin_bottom_button {
    fill: white;
}

button._pin_bottom_button._pin_bottom_button_on {
    fill: #ff8983 !important;
}