button._pin_bottom_button {
    fill: #eee;
}

button._pin_bottom_button._pin_bottom_button_on {
    fill: #ff8983;
}

div#player-controls button._pin_bottom_button {
    text-align: center;
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 2px #000;
}

/* ytp-chrome-bottom  */
div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on div.ytp-chrome-bottom {
    display: block !important;
    opacity: 1 !important;
}

/* ytp-gradient-bottom */
div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on div.ytp-gradient-bottom {
    display: block !important;
    opacity: 1 !important;
}

div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on._pin_bottom_button_space div.ytp-gradient-bottom {
    display: none !important;
    opacity: 0 !important;
}

/* ytp-heat-map-container */
div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on div.ytp-heat-map-container {
    display: block !important;
    opacity: 1 !important;
}

/* ytp-autohide-fade-transition */
div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on .ytp-autohide-fade-transition {
    transition: none !important;
    opacity: 1 !important
}

/* ytp-fullscreen-grid */
div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on.ytp-fullscreen .ytp-fullscreen-grid {
    transition: none !important;
    opacity: 1 !important;
    display: block !important;
}

/* ytp-overlays-container */
div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on div.ytp-overlays-container {
    transition: none !important;
    opacity: 1 !important;
    bottom: 80px !important;
    display: block !important;
}

div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on._pin_bottom_hide_overlays div.ytp-overlays-container {
    display: none !important;
}

/* ytp-show-cards-title */
div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on div.ytp-show-cards-title {
    transition: none !important;
    opacity: 1 !important;
}

div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on div.ytp-show-cards-title .ytp-title-channel {
    transition: none !important;
    opacity: 1 !important;
    display: flex !important;
}

div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on._pin_bottom_hide_overlays div.ytp-show-cards-title .ytp-title-channel {
    display: none !important;
}

div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on div.ytp-show-cards-title .ytp-title {
    transition: none !important;
    opacity: 1 !important;
    display: flex !important;
}

div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on._pin_bottom_hide_overlays div.ytp-show-cards-title .ytp-title {
    display: none !important;
}

div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on div.ytp-show-cards-title .ytp-chrome-top-buttons .ytp-share-button-visible {
    transition: none !important;
    opacity: 1 !important;
    display: inline-block !important;
}

div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on._pin_bottom_hide_overlays div.ytp-show-cards-title .ytp-chrome-top-buttons .ytp-share-button-visible {
    display: none !important;
}

div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on div.ytp-show-cards-title .ytp-chrome-top-buttons .ytp-copylink-button-visible {
    transition: none !important;
    opacity: 1 !important;
    display: inline-block !important;
}

div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on._pin_bottom_hide_overlays div.ytp-show-cards-title .ytp-chrome-top-buttons .ytp-copylink-button-visible {
    display: none !important;
}

div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on div.ytp-show-cards-title .ytp-chrome-top-buttons .ytp-overflow-button-visible {
    transition: none !important;
    opacity: 1 !important;
    display: inline-block !important;
}

div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on._pin_bottom_hide_overlays div.ytp-show-cards-title .ytp-chrome-top-buttons .ytp-overflow-button-visible {
    display: none !important;
}

/* ytp-fullscreen-metadata */
div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on.ytp-fullscreen .ytp-fullscreen-metadata {
    transition: none !important;
    opacity: 1 !important;
    display: block !important;
}

div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on._pin_bottom_hide_overlays.ytp-fullscreen .ytp-fullscreen-metadata {
    display: none !important;
}

/* ytp-fullscreen-quick-actions */
div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on.ytp-fullscreen .ytp-fullscreen-quick-actions {
    transition: none !important;
    opacity: 1 !important;
    display: block !important;
}

div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on._pin_bottom_hide_overlays.ytp-fullscreen .ytp-fullscreen-quick-actions {
    display: none !important;
}

/* ytp-player-content */
div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on .ytp-ypc-player-content,
div#movie_player:not(.ytp-hide-controls)._pin_bottom_button_on .ytp-player-content {
    transition: none !important;
    bottom: 53px !important
}

/* embedded player */
body:has(._pin_bottom_button_on) div.player-controls-content {
    visibility: visible !important;
}

body:has(._pin_bottom_button_on) player-middle-controls {
    visibility: hidden !important;
}

body:has(._pin_bottom_button_on._pin_bottom_hide_overlays) embedded-player-video-details {
    visibility: hidden !important;
}

body:has(._pin_bottom_button_on._pin_bottom_hide_overlays) .player-controls-background {
    visibility: hidden !important;
}